---
layout: category
title: "Amenities"
description: ""
---
{% include JB/setup %}

<ul>
{% for reccomendation in site.data.data %}
  <li>
    <a href="https://github.com/{{ reccomendation.github }}">
      {{ reccomendation.name }}
    </a>
  </li>
{% endfor %}
</ul>

<table class="table table-hover table-condensed">
  {% for reccomendation in site.data.data %}
        <thead>
          <tr>
            <th class="col-sm-2"></th>
            <th class="col-sm-4"></th>
            <th class="col-sm-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="https://github.com/{{ reccomendation.github }}">
                {{ reccomendation.name }}
              </a>
            </td>
            <td>{{ reccomendation.stuff }}</td>
            <td>
              <ul>
                {% for item in reccomendation.items %}
                <li>{{item.part_no}}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          </tbody>
  {% endfor %}
</table>