---
layout: page
title: "Benefits-BETA"
description: ""
group: navigation
---
{% include JB/setup %}

<!--
<div class="row">
  
    <div class="col-md-3"><div class="well">
      {% for category in site.data.categories %}
      <h2>
        <a href="{{ BASE_PATH }}/Benefits/{{ category.url }}">{{ category.name }}</a></h2>
      <div>{{category.copy}}</div>
      <a href="{{ BASE_PATH }}/Benefits/{{ category.url }}">
        <h2>Explore</h2>
      </a>
    </div>
  {% endfor %}
</div>
-->


<div class="table-responsive">
<table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for category in site.data.categories %}
          <tr>
            <td>
              <h1><a href="{{ BASE_PATH }}/Benefits/{{ category.url }}">
                {{ category.name }}
                </a></h1>
            </td>
            <td style='vertical-align:middle'>
              <ul>
                {{category.copy}}
              </ul>
            </td>
            <td><a href="{{ BASE_PATH }}/Benefits/{{ category.url }}">
              <h1>Explore</h1></a>
            </td>
          </tr>
          </tbody>
  {% endfor %}
</table>
</div>
