---
layout: page
title: "Benefits"
description: ""
group: navigation
---
{% include JB/setup %}

<table class="table table-hover table-condensed">
  {% for category in site.data.categories %}
        <thead>
          <tr>
            <th class="col-sm-2"></th>
            <th class="col-sm-4"></th>
            <th class="col-sm-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h1><a href="{{ BASE_PATH }}/Benefits/{{ category.url }}">
                {{ category.name }}
                </a></h1>
            </td>
            <td>
              <ul>
                {% for item in category.items %}
                <li>{{item.name}}</li>
                {% endfor %}
              </ul>
            </td>
            <td><a href="{{ BASE_PATH }}/Benefits/{{ category.url }}">
              <h1>Explore <span class="glyphicon glyphicon-arrow-right"</span></h1></a>
            </td>
          </tr>
          </tbody>
  {% endfor %}
</table>